* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
    padding: 1px 8px 0px 6px;
}

.logo {
    /* background-image: url("/imgs/amazon_logo.png"); */
    background-image: url("/amazonimg/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* box:2 */
.nav-add {
    margin: 5px 2px 5px 0px;
    padding: 9px 9px;
}

#first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

#second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box:3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/*box4*/
.nav-en {
    font-weight: bold;
    display: flex;
    padding: 9px;
}

.nav-en i {
    margin: 3px;
}

/* box:5 */
.nav-sign {
    padding: 9px;
}

span {
    font-size: .7rem;
}

.nav-2 {
    font-size: .85rem;
    font-weight: bold;
}

/*box6*/
.nav-return {
    padding: 9px;
}

/* box:7 */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: o.85rem;
    font-weight: bold;
    padding: 9px;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    padding: 9px;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    padding: 9px;
}

.panel-ops {
    width: 70%;
    font-size: .85rem;
    padding: 9px;
}

.panel-deals {
    font-size: .9rem;
    font-weight: bold;
    padding: 9px;
}

/*hero-section*/
.hero-sec {
    background-image: url("amazonimg/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

/*Shop Section*/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(#e2e7e6, rgb(246, 246, 236));
}

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a {
    color: #007185;
    text-decoration: none;
}
.box-content a:hover {
    color: rgb(198, 54, 6);
}

/* Footer */
footer {
    margin-top: 50px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    text-decoration: none;
}
.foot-panel1:hover {
    background-color: #39485a;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    margin-top: 10px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}

.foot-panel3 {
    background-color: #222f3d;
    border-top: 0.2px solid rgb(66, 74, 91);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("/amazonimg/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    height: 80px;
}

.pages {
    padding-top: 25px;
    justify-content: space-evenly;
}
.pages a{
    text-decoration: none;
    color: white;
}
.pages a:hover{
    text-decoration: underline;
}

.copyright {
    font-size: 0.7rem;
    padding-top: 5px;
    text-align: center;
}